<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blog - SistemaSaude</title>
    <!--CSS E FONTES-->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="css/Contact-Form-Clean.css">

    <link rel="stylesheet" href="css/style.css">
    <!--JAVASCRIPT-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">SistemaSaude</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
        class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="./blog.html">Blog</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#">Sobre</a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-primary" type="button">Contato</button>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="page landing-page" style="padding-top: 4%;">
        <div class="container">

            <div class="row">

                <!-- Post Content Column -->
                <div class="col-lg-8">

                    <!-- Title -->
                    <h1 class="mt-4">8 perguntas e respostas sobre o novo coronavírus em crianças e gestantes</h1>

                    <!-- Author -->
                    <p class="lead">
                        Autor:
                        <a href="#">Daniella Grinbergas e Gustavo Vianna</a>
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p>Postado em 11 de Abril de 2020, as 21:57</p>

                    <hr>

                    <!-- Preview Image -->
                    <img src="img/bebecorona.jpg" alt="">

                    <hr>

                    <!-- Post Content -->
                    <div class="anyipsum-output">
                        <p>Não se sabe exatamente o motivo, mas o novo coronavírus (Sars-Cov-2) é mais leve em 
                            crianças. Além disso, ao que tudo indica, ele não tem predileção por essa faixa 
                            etária. “Uma revisão de 72 314 casos do Centro de Controle e Prevenção de Doenças 
                            Chinês mostrou que menos de 1% acometiam menores de 10 anos”, afirma Roberto Muniz, 
                            infectologista da Sociedade Beneficente Israelita Brasileira Albert Einstein, na 
                            capital paulista.Um estudo publicado no New England Journal of Medicine 
                            trouxe dados importantes sobre a infecção em crianças tratadas no Hospital 
                            Infantil de Wuhan, na China. Foram testadas 1 391 meninos e meninas e apenas 
                            171 estavam com Covid-19, a doença provocada pelo novo coronavírus (12,3%). 
                            Desse total, 41,5% tiveram febre e 15,8% não manifestaram sintomas.
                            Somente 12 pacientes apresentaram características de pneumonia e três dos 
                            internados precisaram de ventilação mecânica, sendo que todos tinham condições 
                            pré-existentes. Houve uma morte.
                            Já nas grávidas, que geralmente fazem parte dos grupos de risco de infecções 
                            e doenças respiratórias, a percepção é de que o Sars-Cov-2 também teria um 
                            bom prognóstico. Para entender um pouco mais e sanar dúvidas importantes, 
                            conversamos com infectologistas e pediatras para resolver 8 questões comuns.</p>
                        <p>1. Por que as crianças são menos suscetíveis ao novo coronavírus?
                            Essa é uma pergunta sem resposta certa — ainda. No momento, o que a literatura 
                            médica tem são hipóteses. Alguns autores, por exemplo, sugerem que o Sars-Cov-2 
                            age em receptores das células do corpo que podem ser diferentes em adultos e 
                            crianças, como os que regulam a pressão arterial.
                            De qualquer forma, há uma constatação de que o curso da doença em crianças 
                            dificilmente evolui para complicações severas.“O acometimento de forma grave 
                            é desproporcional ao de outras faixas etárias. A estatística em menores de 
                            10 anos é praticamente desprezível. E esse é um fenômeno diferente de tudo o 
                            que conhecíamos, já que os vírus respiratórios costumam afetar as faixas 
                            etárias extremas, por causa do sistema imunológico imaturo em crianças e 
                            envelhecido em idosos”, pontua Renato Kfouri, presidente do Departamento 
                            Científico de Imunizações da Sociedade Brasileira de Pediatria (SBP).
                            “Mas vale termos atenção às crianças com condições como deficiência 
                            imunológica e problemas respiratórios crônicos, a exemplo da asma. 
                            A princípio, elas são mais suscetíveis”, aponta Marcelo Mimica, 
                            infectologista pediátrico do Fleury Medicina e Saúde.</p>
                        <p>2. Crianças assintomáticas podem transmitir a doença?
                            Sim. Verdade que, quando os sintomas são mais fortes, a transmissão é 
                            facilitada, já que o vírus fica no trato respiratório e a tosse tende a 
                            espalhá-lo pelo ambiente. “Porém, estudos preliminares apontam que 
                            crianças assintomáticas podem transmitir a doença e, inclusive, por 
                            um período maior. Daí a importância de afastá-las dos idosos nesse 
                            momento de isolamento social”, pondera Muniz.</p>
                        <p>3. As crianças saudáveis podem sair de dentro de casa?
                            Quintais de casa estão liberados, mas a descida às áreas comuns 
                            de condomínios divide opiniões de médicos. Alguns acreditam que 
                            o melhor é evitar qualquer tipo de risco, ao passo que outros 
                            acham importante uma escapada para tomar um ar. Convenhamos 
                            que não é fácil ficar com uma criança o dia todo em um lugar fechado.
                            “Tudo bem se não houver outras pessoas além dos moradores da casa 
                            envolvidos nessa saída e se os cuidados com higienização forem 
                            devidamente tomados”, defende Mimica.</p>
                        <p>4. Quais cuidados a família deve ter com pequenos infectados pelo coronavírus?
                            “Nesse caso, a recomendação é que os próprios familiares usem máscaras e 
                            as mãos de todos sejam constantemente lavadas para reduzir o risco de 
                            os cuidadores adoecerem”, preconiza Kfouri.
                            Em relação ao tratamento, ele via de regra envolve aliviar os 
                            sintomas, com uso de antitérmicos para febre, por exemplo. 
                            Contudo, fique atento à evolução do quadro — caso haja 
                            dificuldade para respirar, dor no tórax ou febre incessante, 
                            procure atendimento.</p>
                        <p>5. O novo coronavírus apresenta risco para um bebê em gestação?
                            Não há evidências de transmissão vertical — ou seja, de que a 
                            mulher grávida passe o Sars-Cov-2 para o feto.
                            O infectologista Roberto Muniz dá o exemplo de um relatório da 
                            Universidade de Ciência e Tecnologia de Huazhong, na China, que 
                            se baseou em quatro gestantes que estavam próximas da hora do 
                            parto, na cidade de Wuhan. As mães não apresentaram complicações 
                            e os bebês não nasceram com sintomas da doença, como febre, tosse 
                            ou diarreia. “Três deles foram submetidos ao teste de Covid-19 e 
                            deram negativo. O quarto não foi testado porque os pais não autorizaram”, 
                            revela.</p>
                        <p>6. A Covid-19 é mais perigosa em gestantes?
                            “Sabemos que gestantes com influenza, o vírus da gripe, 
                            costumam adoecer de forma mais grave. Mas, curiosamente, 
                            elas não apresentaram o mesmo comportamento com o novo coronavírus 
                            em estudo feitos em outros países”, compara Kfouri.</p>
                        <p>7. Mães infectadas com o Sars-Cov-2 devem amamentar?
                            “Sim! Os benefícios do aleitamento suplantam qualquer risco. 
                            O importante é que elas usem máscara e tenham cuidados gerais, 
                            como lavar bem as mãos e não tocar o rosto”, orienta Mimica.
                            O infectologista ainda destaca que diversas análises do leite de 
                            lactantes não apontaram presença do vírus que está causando uma 
                            pandemia global.</p>
                        <p>8. Gestantes e crianças devem tomar a vacina da gripe?
                            “Sim. Prevenir-se da gripe ajuda a diminuir complicações e 
                            visitas ao serviço de saúde, além de minimizar as suspeitas do 
                            novo coronavírus, que tem os mesmos sintomas”, alertas Kfouri. 
                            “Mas é preciso que o posto esteja organizado para atender a demanda 
                            conforme orientações de segurança e prevenção nesse momento”, complementa.
                            Só uma questão: a campanha de vacinação contra a gripe tem datas específicas 
                            para esses dois públicos-alvo. Ambos só deverão tomar a injeção na rede 
                            pública a partir do dia 9 de maio. No mais, o Ministério da Saúde pede 
                            para que as mães adiem a aplicação de vacinas do sarampo e outras doenças 
                            até o dia 16 de abril. Isso porque, no momento, os idosos estão indo aos 
                            postos para tomar o imunizante da gripe. E, quanto menos gente cruzando o 
                            caminho deles em tempos de coronavírus, melhor.</p>
                    </div>
                    <!-- Comments Form -->
                    <div class="card my-4">
                        <h5 class="card-header">Deixar um Comentário</h5>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                    </div>

                    <!-- Single Comment -->
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Exemplo de Comentário</h5>
                            Comentário
                        </div>
                    </div>

                    <!-- Comment with nested comments -->
                    <div class="media mb-4">
                        
                        <div class="media-body">
                            <div class="media mt-4">
                                
                            </div>


                        </div>
                    </div>

                </div>

                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Widget -->

                    <!-- Categories Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Categorias</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">Novos Tratamentos</a>
                                        </li>
                                        <li>
                                            <a href="#">Doenças</a>
                                        </li>
                                        <li>
                                            <a href="#">Artigos Científicos</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">Dicas de Prevenção</a>
                                        </li>
                                        <li>
                                            <a href="#">Coronavirus</a>
                                        </li>
                                        <li>
                                            <a href="#">Novos medicamentos</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
    </div>
    <!-- /.container -->

    <!--INICIO RODAPE-->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Entre em contato</h5>
                    <p>+55(86) 97918-2782</p>
                    <p>dasygu@saude.com</p>
                </div>
                <div class="col-sm-3">
                    <h5>Sistema saúde</h5>
                    <a class="d-block" href="#">Home</a>
                    <a class="d-block" href="#">Sobre nós</a>
                    <a class="d-block" href="#">Blog</a></div>
                <div class="col-sm-3">
                    <h5>Redes sociais</h5>
                    <a class="d-block" href="#">Facebook</a>
                    <a class="d-block" href="#">Twitter</a>
                    <a class="d-block" href="#">Instagram</a>
                    <a class="d-block" href="#">Linkedin</a>
                </div>
                <div class="col-sm-3">
                    <h5>Endereço</h5>
                    <a>+55(86) 97918-2782</a>
                    <a>dasygu@saude.com</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Atchim! Saúuuuuuuude</p>
        </div>
    </footer>
    <!--FIM RODAPE-->
</body>

</html>