<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blog - SistemaSaude</title>
    <!--CSS E FONTES-->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="css/Contact-Form-Clean.css">

    <link rel="stylesheet" href="css/style.css">
    <!--JAVASCRIPT-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">SistemaSaude</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
        class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" href="./blog.html">Blog</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="#">Sobre</a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-primary" type="button">Contato</button>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="page landing-page" style="padding-top: 4%;">
        <div class="container">

            <div class="row">

                <!-- Post Content Column -->
                <div class="col-lg-8">

                    <!-- Title -->
                    <h1 class="mt-4">10 motivos na qual o Lorem Ipsum salva vidas</h1>

                    <!-- Author -->
                    <p class="lead">
                        Autor:
                        <a href="#">Matheus Magno</a>
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p>Postado em 6 de Abril, as 12:36</p>

                    <hr>

                    <!-- Preview Image -->
                    <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

                    <hr>

                    <!-- Post Content -->
                    <div class="anyipsum-output">
                        <p>Spicy jalapeno bacon ipsum dolor amet beef ribs corned beef hamburger strip steak sirloin biltong chislic pork loin sausage bacon ham hock. Frankfurter picanha ribeye, prosciutto cow swine andouille turducken buffalo fatback flank
                            pork belly pork ball tip. Drumstick tenderloin cow flank frankfurter shoulder pork loin turkey short loin chuck pancetta pork belly bacon turducken brisket. Meatball fatback kielbasa chuck, capicola sirloin ball tip pork loin
                            t-bone meatloaf hamburger andouille leberkas shoulder pastrami.</p>
                        <p>Alcatra tenderloin prosciutto, spare ribs doner cupim turkey pastrami frankfurter tri-tip pork. Ribeye pig buffalo rump. Salami leberkas sausage meatloaf doner turducken tri-tip capicola chislic jerky jowl drumstick swine shankle
                            pork loin. Brisket picanha turkey pork cupim venison. Burgdoggen short ribs tenderloin rump kielbasa porchetta ground round beef ribs biltong bresaola pig. Pork turkey biltong, drumstick beef capicola andouille pig short ribs
                            strip steak burgdoggen pork chop landjaeger spare ribs.</p>
                        <p>Beef ribs turkey pork loin kevin spare ribs ribeye meatball jerky ham hock kielbasa strip steak tri-tip jowl swine. Ribeye meatloaf ham hock pork chop. Kevin pancetta capicola, venison drumstick buffalo tri-tip ball tip sausage
                            short loin jowl pig chuck. Tongue pork loin filet mignon spare ribs capicola picanha, pig pork sirloin cow. Shoulder fatback t-bone sirloin prosciutto. Picanha ground round ham hock turducken buffalo pastrami.</p>
                        <p>Beef ribs shankle leberkas flank strip steak capicola tenderloin shoulder venison. Andouille cupim shank shankle frankfurter. Pork chop cupim frankfurter kevin, sausage boudin swine. Ribeye cupim alcatra landjaeger turducken. Tenderloin
                            frankfurter salami pancetta, short ribs hamburger rump. Tenderloin beef shankle pork chop, landjaeger andouille swine chislic cow shoulder capicola. Shoulder chuck pig filet mignon corned beef pork belly.</p>
                        <p>Shoulder drumstick andouille, chuck strip steak short ribs shank flank. Turducken corned beef kielbasa shoulder ball tip strip steak. Corned beef cow cupim pancetta pastrami tail picanha swine capicola. Short ribs beef ribs strip
                            steak hamburger, ground round beef drumstick alcatra pastrami venison.</p>
                    </div>
                    <!-- Comments Form -->
                    <div class="card my-4">
                        <h5 class="card-header">Deixar um Comentário</h5>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                    </div>

                    <!-- Single Comment -->
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Luis belisario</h5>
                            Rapaz bixo, esse cara é bom mesmo no que faz!!! O DIABO É MININO MESMO KKK
                        </div>
                    </div>

                    <!-- Comment with nested comments -->
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Fernando</h5>
                            Se tivesse feito em html e css puro seria melhor, bootstrap coisa de gay
                            <div class="media mt-4">
                                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0">André</h5>
                                    O cara faz tudo sozinho deixou nada pra mim fazer.
                                </div>
                            </div>

                            <div class="media mt-4">
                                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0">Tao</h5>
                                    kkkk aiai
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <!-- Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Search Widget -->

                    <!-- Categories Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Categorias</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">PHP</a>
                                        </li>
                                        <li>
                                            <a href="#">PHP</a>
                                        </li>
                                        <li>
                                            <a href="#">NODE JS LIXO</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            <a href="#">PHP</a>
                                        </li>
                                        <li>
                                            <a href="#">PHP</a>
                                        </li>
                                        <li>
                                            <a href="#">NODE JS LIXO</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Side Widget -->
                    <div class="card my-4">
                        <h5 class="card-header">Campo pra colocar alguma coisa</h5>
                        <div class="card-body">
                            Imagina algo bem foda aqui, que com toda certeza um cliente clicaria!!!!!
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.row -->

        </div>
    </div>
    <!-- /.container -->

    <!--INICIO RODAPE-->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Entre em contato</h5>
                    <p>+55(86) 97918-2782</p>
                    <p>dasygu@saude.com</p>
                </div>
                <div class="col-sm-3">
                    <h5>Sistema saúde</h5>
                    <a class="d-block" href="#">Home</a>
                    <a class="d-block" href="#">Sobre nós</a>
                    <a class="d-block" href="#">Blog</a></div>
                <div class="col-sm-3">
                    <h5>Redes sociais</h5>
                    <a class="d-block" href="#">Facebook</a>
                    <a class="d-block" href="#">Twitter</a>
                    <a class="d-block" href="#">Instagram</a>
                    <a class="d-block" href="#">Linkedin</a>
                </div>
                <div class="col-sm-3">
                    <h5>Endereço</h5>
                    <a>+55(86) 97918-2782</a>
                    <a>dasygu@saude.com</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Atchim! Saúuuuuuuude</p>
        </div>
    </footer>
    <!--FIM RODAPE-->
</body>

</html>