body{
  background-color: rgb(255,255,255);
}
h1{
  font-family: Poppins, sans-serif;
  font-size: 36px;
}
h2{
  color: rgb(0,0,0);
  font-size: 39px;
  font-family: Poppins, sans-serif;
  font-style: bold;
}
h3{
  font-family: Poppins, sans-serif;
  font-size: 36px;
}
h5,a{
  color: rgb(0,0,0);
}
p{
  color: rgb(0,0,0);
  font-family: Poppins, sans-serif;
  font-style: normal;
}
button{
  color: rgb(255,255,255);
  background-color: #0029ff;
  font-family: Poppins, sans-serif;
}
#menu-banner{
background-image: url(../img/healthcare-medical-science-background-with-icons-symbols-innovation-technology_120542-239.jpg);
color: rgba(255,255,255,0.85);
}
#imagem1-home{
  width: 306px;
  padding: 13px;
  background-color: transparent;
}
#imagem2-home{
  background-color: transparent;
}
#bloco1{
  padding-top: 70px;
}
footer{
  background-color: rgb(255,255,255);
}
.card{
  border: none;
}
.card-body{
  /*border: 1px solid rgba(0,0,0,0.15);*/
}
.section-cards{
  background-color: transparent;
  /*border-bottom: 1px solid rgba(0,0,0,0.15);*/
}
.all-cards{
  background-color: transparent;
}

/**ANIMAÇÕES, SE TA FUNCIONANDO NÃO MEXA PLMDS**/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}