body{
  background-color: rgb(255,255,255);
}
h1{
  font-family: Poppins, sans-serif;
  font-size: 36px;
}
h2{
  color: rgb(0,0,0);
  font-size: 39px;
  font-family: Poppins, sans-serif;
  font-style: bold;
}
h3{
  font-family: Poppins, sans-serif;
  font-size: 36px;
}
h5,a{
  color: rgb(0,0,0);
}
p{
  color: rgb(0,0,0);
  font-family: Poppins, sans-serif;
  font-style: normal;
}
.btn{
  color: rgb(255,255,255);
  background-color: #0029ff;
  font-family: Poppins, sans-serif;
}
#menu-banner{
background-image: url(../img/healthcare-medical-science-background-with-icons-symbols-innovation-technology_120542-239.jpg);
color: rgba(255,255,255,0.85);
}
#imagem1-home{
  width: 306px;
  padding: 13px;
  background-color: transparent;
}
#imagem2-home{
  background-color: transparent;
}
#bloco1{
  padding-top: 70px;
}
footer{
  background-color: rgb(255,255,255);
}
.card{
  border: none;
}
.card-body{
  border: 1px solid rgba(0,0,0,0.15);
}
.section-cards{
  background-color: transparent;
  /*border-bottom: 1px solid rgba(0,0,0,0.15);*/
}
.all-cards{
  background-color: transparent;
}
.newsletter-titulo{
  font-size: 20px;
}
.newsletter {
  padding: 40px 0;
  background: #f2f2f2;
  }
  
  .newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2; }
  .newsletter .content h2 {
  color: #243c4f;
  margin-bottom: 40px; }
  .newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius:0;
  }
  .newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #243c4f;
  }
  .newsletter .content .btn {
  min-height: 50px; 
  border-radius:0;
  background: #243c4f;
  color: #fff;
  font-weight:600;
  }
/**ANIMAÇÕES, SE TA FUNCIONANDO NÃO MEXA PLMDS**/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

